*{
    /* border:1px solid red; */
    margin:0;
    padding:0;
}
body{
    font-family: sans-serif;

}
.wrapper{
    margin:0 auto;
    width:98%;  
}
.main-nav{
    margin: 10px auto;
    /* width:95%; */
    font-weight: 600;
    
}
.disp:hover{
    background:#eee;
}

    
.container{
    display:flex;
    justify-content: space-between;
    /* margin:30px auto; */
    /* width:90%; */
    /* height:100vh; */
    /* border:#0D66D0 solid 3px; */
}
.item{
    height:50px;
    display:flex;
    align-items: center;
}
.logo{
    width:30px;
    /* height:20px; */
    display:flex;
    align-items: center;
    
}
.brand{
    font-size:20px;
    color:#FA0F1F;
    font-weight: 700;
    display:flex;
    align-items: center;
    margin:5px;
}
.b-0{
    display:none;
}

.b-1{
display:flex;

}

.b-2{
    display:flex;
    gap:30px;
    align-items:center;
}

.b-3{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items:center;
}

.base-nav{
    /* margin:20px auto; */
    background:#eee;
    position:sticky;
    top:0;
    left:0;
    z-index: 1;
    
    
}
.container-1{
    display:flex;   
    gap:20px;
    justify-content: center;
    
}

/* .menubars{
    font-size: 1px;
    display:none;
} */
.button{
    background:#0D66D0;
    border-radius: 30px;
    display:inline-block;
    padding:10px 20px;
    cursor:pointer;
    margin:5px 5px;
    border:none;
    text-decoration: none;
    color:#fff;
    font-style: 700;
        
}
/* .b-nav6{
    background
    border-radius:20px;
    padding:5px 10px;
    color:white;
    display:flex;
    align-items: center;

} */
.b-nav{
height:50px;
padding:5px;
display:flex;
align-items: center;
font-weight: 700;
}
.b-nav:hover{
background:#eee;
}
.b-nav-h{
    display:none;
}
.showcase{
position:relative;
height:100vh;
display:flex;
flex-direction: column;
align-items: center;
justify-content: start;
text-align:center;
padding:0 20px;
}
.video-container{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow: hidden;
}
.video-container video{
    min-width:100%;
    min-height: 100%;
    object-fit:cover;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    
}
.content{
    z-index:10; 
    color:white;
    margin-top:150px;
    /* line-height:40px; */
    display:grid;
    row-gap:30px;
    justify-items: center;
    align-items:center;
   
}
.content h3{
    font-size:60px;
    /* margin-bottom: 20px; */
}
.content p {
    font-size:20px;
    font-weight: 500;
}
.buttons{
    display:flex;
    gap:20px;
    /* margin-top: 20px; */
    justify-content:center;
    
}
.button1{
    width:150px;
    height:50px;
    border-radius: 50px;
    background:#0D66D0;
    border:2px solid white;
    text-align: center;
    font-weight: 700;
    display:flex;
    justify-content: center;
    align-items: center;
}
.button2{
    width:150px;
    height:50px;
    border-radius: 50px;
    background:transparent;
    border:2px solid white;
    color:white;
    text-align: center;
    font-weight: 700;
    display:flex;
    justify-content: center;
    align-items: center;
}
.button2:hover{
    background:white;
    color:rgb(27, 22, 46);
    
}
.white{
    align-self:end;
}


.hero{
    
    text-align: center;
    padding: 70px;
}

.hero h1{
font-size: 45px;
color: #2F3857;
}

.hero p{
    font-size: 20px;
    color: #2F416D;
}

.design-list ul{
    display: flex;
    justify-content: center;
    align-items: center;
border-bottom: 1px solid #EFEFEF;
    
}

.design-list ul li{
    margin: 20px;
    margin-top: 50px;
    list-style: none;
    text-decoration: none;
}
.design-list ul li a{
    text-decoration: none;
}
.design-list ul .list1{
    border-bottom: 1px solid blue;
    
}

.video-cont{
    
    height: 100%;
    display: flex;

    justify-content: center;
    margin-top: 40px;
    overflow: hidden;
}
.video-cont video{
    width: 80%;
    height: 100%;
}

.grid-container{
    width: 100%;
    border: 2x solid blue;
}

.grid-wrappper{
height: 100%;
width: 85%;
display: grid;
grid-template-columns: 50% 50%;
gap: 10px;
margin-left:  120px;
margin-right: auto;
justify-items: center;
margin-top: 100px;
}
.grid-wrappper .img img{
    /* width: 100%;
   margin-left: 20px; */
    /* height: 50vh; */
    /* border-radius: 30px; */
    /* border: 1px solid #333; */
    /* margin-top: 50px; */
}
.fresh{
    background: linear-gradient(180deg, rgba(252,22,62) 0%, rgba(252, 33, 100) 35%, rgba(252, 32, 176) 100%);
    border-radius: 5px;
    width: 90%;
    height: 70vh;
}
.fresh img{
    padding-bottom:  100px;
    height: 30vh;
    margin-bottom: 100px;
}
.fresh-content { 
    text-align: center;
    line-height: 30px;
    color: #fff;
    margin-top: 30px;
}
.fresh-content h1{
    font-size: 20px;
}

.Designed{
    width: 90%;
    height: 70vh;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
}

.Designed-content{
    text-align: center;
    line-height: 30px;
    color: #2F3857;
    margin-top: 30px;
}
.Designed-content p a{
    text-decoration: none;
    color: #1473EA;
}

.Designed img{
    height: 40vh;
    width: 100%;
    
}

.Skill{
    width: 90%;
    height: 70vh;
    border: 1px solid #E1E1E1;
    margin-top: 30px;
    border-radius: 5px;
}
.Skill img{
    width: 100%;
    height: 40vh;
    margin-top: 30px;
}
.Skill-content{
    color: #2F3857;
    text-align: center;
    line-height: 30px;
    margin-top: 30px;
}
.Skill-content p a{
    color: #1473E6;
    text-decoration: none;
}

.MAX{
    width: 90%;
    height: 70vh;
    border: 1px solid #E1E1E1;
    background-color: #30A8FC;
    margin-top: 30px;
    border-radius: 5px;
}
.MAX img{
    width: 100%;
    height: 40vh;
    margin-top: 60px;
}
.MAX-content{
    text-align: center;
    line-height: 30px;
    color: #fff;
    margin-top: 30px;
}
.adobe-hero{
    margin-top: 50px;
}
.adobe-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 100px;
    
    gap: 30px;
}

.adobe-wrap{
display: grid;
justify-items: center;
gap: 10px;
}
.adobe-wrap p{
    color: #A5C4E7;
}

.adobe-wrap h4{
    color: #6581B9;
}
.adobe-content p{
font-size: 30px;
text-align: center;
}

.container-wrapper{
    background-color: #1E76E3;
    width: 100%;
    height: 100%;
    
}

.google{
    display: none;
}

.container-wrapper{
    margin-top: 50px;
}

.wrapper-heading{
    /* border: 2px solid #333; */
    /* width: 50%; */
   display: grid;
   grid-template-columns: 1fr;
   text-align: center;
    margin-left: auto;
    padding-top: 100px;
    margin-left: auto;
}

    .wrapper-heading h1{
        color: #fff;
        font-size: 60px;
    }
    .wrapper-heading p{
        color: #fff;
        font-size: 20px;
        padding-top: 20px;
    }

    .container-grid{
        /* border: 1px solid #FA0F1F; */
       width: 80%;
        
         margin: 30px;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .uil{
        display: none;
    }

    .container-grid1{
        width: 40%;
        margin-left: 50px;
        border-radius: 20px;
        text-align: start;
        margin: 30px;
        height: 55vh;
        background-color: #00449D;
        /* border: 2px solid red; */
    }
    .container-grid2{
        width: 40%;
        border-radius: 20px;
        margin: 30px;
        height: 55vh;
        background-color: #1A71DF;
        
    }
.grid1-content{
    margin-left: 30px;
    color: #fff;
    line-height: 40px;
    margin-top: 30px;
}

.grid2-content{
    margin-left: 30px;
    color: #fff;
    line-height: 40px;
    margin-top: 30px;
}

.btn{
    display: flex;
    margin-top: 30px;
    gap: 30px;
}
.btn2{
    width:80px;
    height:30px;
    border-radius: 50px;
    background:#0D66D0;
    border:2px solid white;
    text-align: center;
    
    display:flex;
    justify-content: center;
    align-items: center;
}
.btn1{
    width:80px;
    height:30px;
    border-radius: 50px;
    background: #fff;
    border:2px solid white;
    color: #1A71DF;
    text-align: center;
    
    display:flex;
    justify-content: center;
    align-items: center;
}
.btn1:hover{
    background: #1A71DF ;
    color: #fff;
 
}
    .wrapper-ctn p{
        text-align: center;
        color: #fff;
        font-size: 20px;
    }

    .img-wrapper{
        display: flex;
        justify-content: center;
        gap: 50px;
        margin-top: 40px;
    }

    .container-grd{
        /* border: 2px solid rebeccapurple; */
        width: 80%;
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        gap: 20px;
        margin-top: 10rem;

        justify-items: center;
        
    }
    .ctn1{
        color: #2F3857;
        width: 50%;
        
    }
    .ctn1 h1{
        font-size: 40px;
    }
    .ctn1 p{
        padding-top: 50px;
        font-size: 1rem;
    }

   .grid1{
       width: 100%;
       height: 50vh;
       /* border: 3px solid red; */
       /* background-color: yellowgreen; */
   }
   .ctn3{
    
   }

  .ctn2 img{
      width: 100%;
  }
  .ctn3 img{
      width: 30%;
      height: 100%;
      padding: 50px;
  }
  .ctn4{
      width: 100%;

  }


  .container-grd2{
    /* border: 2px solid rebeccapurple; */
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    gap: 20px;
    margin-top: 10rem;

    justify-items: center;
    
}

.grid2{
    width: 100%;
    height: 100%;
    /* border: 3px solid red; */
    /* background-color: yellowgreen; */
}

.grid2 .ctn3 img{
    width: 100%;
    height: 100%;
}
.grid2 .ctn4{
    width: 100%;
}
.ctn4-content{
    text-align: end;
    padding-right: 50px;
    margin-top: 30px;

    
}

.ctn4-content .span{
    width: 80px;
    height: 40px;
    background-color: #005CFF;
    text-align: center;
    display: flex;
    justify-self: flex-end;
    color: #fff;
    margin-left: auto;
}
.ctn4-content .span a{
    text-align: center;
    margin: 10px;
}



.ctn4-content h1{
    margin-top: 30px;
    font-size: 40px;
    color: #2F3857;
}


.ctn4-content p{
    margin-top: 30px;
    font-size: 20px;
    color: #57386D;
    padding-bottom: 30px;
}

.ctn4-content a{
    text-decoration: none;
    margin-top: 50px;
}


.get-started{
    
    width: 80%;
    display: grid;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    height: 100%;
}

.started .btn{
    display: flex;
    justify-content: center;
}

.started .btn .btn1{
    background-color: #0D66D0;
    color: #fff;
    width: 7.5rem;
    height: 2.5rem;
}
.started .btn .btn2{
    border: 2px solid #505050;
    color: #505050;
    width: 7.5rem;
    height: 2.5rem;
    background-color: #fff;
}
.started-content h1{
    color: #2F3857;
    text-align: center;
    font-size: 40px;
}
.started .btn .btn2:hover{
    background-color: #505050;
    color: #fff;
}

.started img{
    width: 80%;
    margin-top: 2.5rem;
    margin-left: 5rem;
}

.creativity-content{
    text-align: center;
    line-height: 2rem;

}
.creativity-content h1{
    font-size: 3rem;
    padding-top: 2rem;
}
.creativity p{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.creativity a{
    margin-top: 4rem;
    text-decoration: none;
}
.creativity a:hover{
    text-decoration: underline;
}

.creativity{
    margin: 5rem;
}
.creativity-img img{
    width: 5rem;
    height: 5rem;
    margin-left: 14rem;
    
}

.gradient{
    width: 100%;
    height: 1em;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #FFB20E, #C5D52F, #91D93E, #42C687);
}

footer{
    width: 100%;
}

.footer-wrapper{
    width: 85%;
    /* border: 4px solid red; */
    display: grid;
    justify-items: center;
    height: 100%;
        
    grid-template-columns: repeat(5, 1fr);
    padding-bottom: 2rem;
    
}

.footer1{
    line-height: 30px;
    height: 100%;
    padding-top: 5rem;

    margin-left: auto;
    margin-right: auto;
}
.footer-1{
    width: 8rem;
    padding-left: 0.5rem;
}
.footer1 ul li a{
    text-decoration: none;
    list-style: none;
    line-height: 1rem;
    color: #897872;
    font-size: 0.8rem;
}
.footer1 h4{
    color: #897872;
    font-size: 0.9rem;
    text-align: start;

}

.footer1 ul li a:hover{
    color: #C2E6FA;
}
.footer1 ul li{
    list-style: none;
    font-size: 0.5rem;
}

.footer1 hr{
    margin-top: 2rem;
}
.footer1{
    padding-right: 5rem;
}
.footer5{
    padding-left: 7rem;
}
.footer2{
    padding-left: 1rem;
    width: 10rem;
}

.footer3{
    padding-right: 7rem;
    width: 8rem;
}
.footer4{
    padding-right: 3rem;
    width: 8rem;
}
.footer5{
    padding-right: 7rem;
    width: 9rem;
}
.featured-img img{
    width: 1rem;
    height: 1rem;
    
    
}
.featured h4{
    color: #2F3857;
    font-size: 1rem;
}
.featured-img  span{
    font-size: 1rem;
    padding-left: 0.4rem ;
    color: #2F3857;
}

.featured{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.footer-end hr{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.region{
    display: flex;
    width: 100%;
}

.social{
    display: flex;
    gap: 20px;
    margin: 30px;
}
.socials img{

    width: 1.3rem;
    height: 1.5rem;
    margin-left: 0.4rem;
}

.region-content{
    display: flex;
    font-size: 1em;
    margin-left: 3rem;
}

.region-content p{
    font-size: 0.7rem;
    padding-left: 1.8rem;
    color: #2F3857;
   
}

.small-screen{
    width: 95%;
    margin: auto;
    color: #333222;
    display: none;


}

.small-screen a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-top: 1px solid #333;
    font-size: 1rem;
    color: #333222;
    text-decoration: none;
}
.small-screen .border{
    border-bottom: 1px solid #333;
    margin-bottom: 50px;
}




@media(max-width:1246px){
    /* .menubars{
        display:none;
    } */
    /* .container{
        justify-content: space-between;
    } */
   
    /* .disp{
    display:none;
} */

.started{
    width: 80%;
}

.started-img img{
    width: 70%;
    height: 50vh;
}
.started-content{
    margin-right: 5rem;
}

.started-content h1{
    font-size: 20px;
    margin-right: 3rem;
}

.creativity-content h1{
    font-size: 20px;
}
.creativity{
    margin-left: auto;
    margin-right: auto;
}
.creativity-img img{
    margin-right: auto;
    margin-left: 10rem;
}
.b-0{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: space-between;
    width:100%;

}
.new-logo{
    width:20px;
    height: 20px;
}
.copy{
    justify-self:center;
    color:#FA0F1F;
    margin:5px;
}
.sign-up{
    justify-self: end;
    
}
.bar{
    display:flex;
    align-items: center;

}
.b-1{
    /* justify-content: center; */
    display:none;
}
.b-2{
    /* flex-direction: column; */
    display: none;
}
.b-3{
    /* grid-template-columns: 1fr; */
    display:none;
    
}
.footer-end{
    display: none;
}
.social{
    display: grid;
    grid-template-columns: 100%;
    text-align: start;
    margin-right: auto;
}

.socials{
    display: flex;
}
.region-content{
    text-align: start;
    margin-right: 50px;
}
.content{
    margin-top: 30px;
    line-height: 20px;
}

.small-screen{
    display: block;
    margin-top: 50px;
}


.adobe-hero{
    margin-top: 50px;
}

.content h3{
    font-size:40px;
    /* margin-bottom: 20px; */
}
.content p {
    font-size:20px;
}
.buttons{
    display:flex;
    justify-content: space-around;
    margin-top: 10px;
    padding-bottom: 30px;    
}
.google{
    width: 70%;
    margin-top: 50px;
    display: block;
    height: 70vh;
    /* border: 2px solid red; */
    margin-left: auto;
    margin-right: auto;
}
.google-content{
    background-color: #d3d3d3;
    width: 100%;
    height: 65vh;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 0;
    

}
.content5 p{
    text-align: center;
    color: rgb(107, 105, 105);
}
.google-head img{
    width: 100%;
}
.google-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    /* height: 5vh; */
    flex-wrap: wrap;
    padding-top: 30px;

}

.g-cont-img1 .g-cont-img2 img{
    margin: 20px;
}


.container-grid{
    /* border: 1px solid #FA0F1F; */
   width: 80%;
    height: 100%;
    /* margin-left: auto;
    
    margin-right: auto; */
    margin-left: 100px;
    justify-items: center;
    
    display: grid;
    
     margin: 30px;
    grid-template-columns: 1fr;
    
    
}

.grid-wrappper{
    height: 100%;
    width: 80%;
    display: grid;
    grid-template-columns:  1fr;
    gap: 10px;
    margin-right: auto;
    margin-left: auto;
    
    justify-items: center;
    
    }
    
.container-wrapper{
    width: 100%;
}
.container-grid1{
    width: 80%;
    height: 100vh;
    justify-self: center;
}
.container-grid2{
    width: 80%;
    height: 100vh;
}

.wrapper-heading h1{
    font-size: 30px;
}

.img-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.container-grd{
    display: grid;
    grid-template-columns: 100%;
    gap: 30px;
}

.container-grd2{
    display: grid;
    grid-template-columns: 100%;
    gap: 30px;
}
.ctn2{
    height: 100%;
}

.footer1 ul{
display: none;

}
.footer-wrapper{
    display: none;
}

.ctn1 h1{
    font-size: 30px;
    text-align: center;
}
.ctn1 p{
    font-size: 16px;
    text-align: center;
    padding-bottom: 50px;
}

}



@media(max-width:634px){
    .container-1{
        display: none;
        
    }
    .b-nav-h{
        display:flex;
        justify-content:center;
    }
    .base-nav{
        margin:0 auto;
    }
    .content{
        margin-top: 50px;
    }
    .content p{
        font-size:16px;
    }
    content h3{
        font-size:20px;

    }
    .buttons{
        flex-direction:column;
        margin-top: -20px;
        padding-bottom: 100px;

    }
    .button1{
        height:30px;
        
        
    }
    .button2{
        height:30px;
        margin-top: -10px;
        
    }

    .hero h2{
        font-size: 20px;
    }

    .adobe-content p{
        font-size: 20px;
    }
    .hero h1{
        font-size: 25px;
    }
    
    .hero p{
    font-size: 15px;
    }

    .list2{
        display: none;
    }
    .content h3{
        font-size: 20px;
    }
    
}

@media (max-width: 534px) {
    nav{
        width: 100%;
    
        
        margin-left: auto;
        margin-right: auto;
    }

    .base-nav{
        width: 100%;
    }
.showcase{
    width:100%;
}

.b-2{
    width: 100%;
}

.container-wrapper{
    width: 100%;

}
    
}